<div class="navbar navbar-app navbar-absolute-top">
	<div class="navbar-brand navbar-brand-center">
		一对一聊天
	</div>
	<div class="btn btn-group pull-left hidden">
		<i class="fa fa-bars">菜单</i>
	</div>
	<div class="btn btn-group pull-right">
		<i class="fa fa-bars">同事</i>
	</div>
</div>
<div class="navbar navbar-app navbar-absolute-bottom">
<form>
<div class="row">
	<div class="col-lg-12">
		<div class="input-group">
			<input type="text" name="chat" class="form-control" />
			<span class="input-group-btn">
				<input type="submit" value="发送" class="btn"/>
			</span>
		</div>
	</div>
	
</div>
</form>
</div>
<div class="app-body">
	<div class="app-content">
		<div class="scrollable">
			<div id="main" class="scrollable-content section">
			</div>
		</div>
	</div>
</div>