<div class="navbar navbar-app navbar-absolute-top">
	<div class="navbar-brand navbar-brand-center">一对一聊天</div>
	<div class="btn btn-group pull-left hidden"> <i class="fa fa-bars">菜单</i>
	</div>
	<div class="btn btn-group pull-right"> <i class="fa fa-bars">同事</i>
	</div>
</div>
<div class="navbar navbar-app navbar-absolute-bottom">
	<div class="btn-group justified">
		<a href="#manage" class="btn btn-navbar">
			<i class="fa fa-exclamation-circle fa-navbar"></i>
			待审批
		</a>
		<a href="#record" class="btn btn-navbar">
			<i class="fa fa-github fa-navbar"></i>
			我的请假
		</a>
		<a href="#apply" class="btn btn-navbar">
			<i class="fa fa-home fa-navbar"></i>
			请假
		</a>
	</div>
</div>
<div class="app-body">
	<div class="app-content">
		<div class="scrollable">
			<div id="main" class="scrollable-content section"></div>
		</div>
	</div>
</div>