<!-- <div class="navbar navbar-app navbar-absolute-bottom">
<form >
<div class="row">
	<div class="col-lg-12">
		<div class="input-group">
			<input type="text" name="chat" class="form-control" />
			<span class="input-group-btn">
				<input type="submit" value="发送" class="btn"/>
			</span>
		</div>
	</div>
	
</div>
</form>
</div>
 -->

<div class="navbar navbar-app navbar-absolute-bottom">
<form>
	<div class="nav4">
		<div class="nav4-right">		
			<button class="btn btn-primary">发送</button>
		</div>
		<div class="nav4-input-right">
			<div class="form-group">
				<input type="text" name="chat" class="form-control">
			</div>
		</div>
	</div>
</form>
</div>

 <span class="name"><-%= room.username %></span>
<div class="chat_log" style="margin-bottom:80px;"></div>
