<p></p>
<p></p>
<div class="container">
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-10 col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">登&nbsp;&nbsp;录</h3>
                </div>
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                            <input type="text" name="email" class="form-control input-sm" placeholder="邮件/用户名">
                        </div>

                        <div class="form-group">
                            <input type="password" name="password" class="form-control input-sm" placeholder="密码">
                        </div>

                        <div class="form-group">
                        	<a href="#register" class="pull-right">还没有注册，去注册吧！</a>
                       		<a href="#forgotpassword">忘记密码？</a>
                    	</div>

                        <br>
                        <input type="submit" value="登&nbsp;&nbsp;录" class="btn btn-primary btn-block">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<p></p>
<p></p>
<h2>客户端程序下载</h2>
<hr>

<div class="media">
    <div class="pull-left">
        <img class="media-object" src="/images/mac.jpg" height="120px;">
        <br>
        <a href="/download/socialwork-for-mac.app" download="socialWork-mac.app" class="btn btn-primary btn-block">下载</a></p>
    </div>
    <div class="media-body">
        <h4 class="media-heading">Mac 应用程序</h4>
        <p>专门为Mac电脑打造的客户端软件。</p>
    </div>
    <div class="media-right">
    </div>
</div>
<hr>

<div class="media">
    <div class="pull-left">
        <img class="media-object" src="/images/windows.jpg" height="120px;">
        <br>
        <a href="/download/socialwork-for-mac.app" download="socialWork-mac.app" class="btn btn-primary btn-block">下载</a></p>
    </div>
    <div class="media-body">
        <h4 class="media-heading">Windows 应用程序</h4>
        <p>专门为 Windows 系统打造的客户端软件。</p>
    </div>
    <div class="media-right">
    </div>
</div>
<hr>

<div class="media">
    <div class="pull-left">
        <img class="media-object" src="/images/android.jpg" height="120px;">
        <br>
        <a href="/download/socialwork-for-android.app" download="socialWork-mac.app" class="btn btn-primary btn-block">下载</a></p>
    </div>
    <div class="media-body">
        <h4 class="media-heading">Android 应用程序</h4>
        <p>专门为Android打造的客户端软件。</p>
    </div>
    <div class="media-right">
    </div>
</div>
<hr>

<div class="media">
    <div class="pull-left">
        <img class="media-object" src="/images/ipad.jpg" height="120px;">
        <br>
        <a href="#" download="socialWork-mac.app" class="btn btn-primary btn-block">下载</a></p>
    </div>
    <div class="media-body">
        <h4 class="media-heading">iPad 应用程序</h4>
        <p>专门为 iPad 打造的客户端软件。</p>
    </div>
    <div class="media-right">
    </div>
</div>
<hr>


<div class="media">
    <div class="pull-left">
        <img class="media-object" src="/images/iphone.jpg" height="120px;">
        <br>
        <a href="#" download="" class="btn btn-primary btn-block">下载</a></p>
    </div>
    <div class="media-body">
        <h4 class="media-heading">IPhone 应用程序</h4>
        <p>专门为 IPhone 打造的客户端软件。</p>
    </div>
    <div class="media-right">
    </div>
</div>
<hr>
