<p></p>
<p></p>
<div class="container">
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-10 col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">登&nbsp;&nbsp;录</h3>
                </div>
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                            <input type="text" name="email" class="form-control input-sm" placeholder="邮件/用户名">
                        </div>

                        <div class="form-group">
                            <input type="password" name="password" class="form-control input-sm" placeholder="密码">
                        </div>

                        <div class="form-group">
                        	<a href="#register" class="pull-right">还没有注册，去注册吧！</a>
                       		<a href="#forgotpassword">忘记密码？</a>
                    	</div>

                        <br>
                        <input type="submit" value="登&nbsp;&nbsp;录" class="btn btn-primary btn-block">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<p></p>
<p></p>
<h2>客户端应用程序下载</h2>
<hr>

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="/images/mac.jpg">
            <div class="caption">
                <h3>Mac 应用程序</h3>
                <p>专门为Mac电脑打造的客户端软件。</p>
                <p><a href="/download/socialwork-for-mac.app" download="socialWork-mac.app" class="btn btn-primary btn-block">下载</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="/images/ipad.jpg">
            <div class="caption">
                <h3>iPad 应用程序</h3>
                <p>专门为 iPad 打造的客户端软件。</p>
                <p><a href="/download/socialwork-for-ipad.app" download="socialWork-mac.app" class="btn btn-primary btn-block">下载</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="/images/windows.jpg">
            <div class="caption">
                <h3>Windows 应用程序</h3>
                <p>专门为Windows电脑打造的客户端软件。</p>
                <p><a href="/download/socialwork-for-mac.app" download="socialWork-mac.app" class="btn btn-primary btn-block">下载</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="/images/android.jpg">
            <div class="caption">
                <h3>Android 应用程序</h3>
                <p>专门为Android系统打造的客户端软件。</p>
                <p><a href="/download/socialwork-for-mac.app" download="socialWork-mac.app" class="btn btn-primary btn-block">下载</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="/images/iphone.jpg">
            <div class="caption">
                <h3>IPhone应用程序</h3>
                <p>专门为IPhone系统打造的客户端软件。</p>
                <p><a href="/download/socialwork-for-mac.app" download="socialWork-mac.app" class="btn btn-primary btn-block">下载</a></p>
            </div>
        </div>
    </div>
</div>
