<!-- <div class="navbar navbar-app navbar-absolute-top">
<div class="navbar-brand navbar-brand-center">项目群聊</div>
<div class="btn btn-group pull-left hidden"> <i class="fa fa-bars">菜单</i>
</div>
<div class="btn btn-group pull-right"> <i class="fa fa-bars">同事</i>
</div>
</div>
-->
<!-- <div class="navbar navbar-app navbar-absolute-bottom">
	<div class="nav4">
		<div class="nav4-left">
			<a href="#">
				<img src="" width="40px" height="40px">
			</a>
		</div>
		<div class="nav4-right">		
			<button class="btn btn-primary">发送</button>
		</div>
		<div class="nav4-input-both">
			<div class="form-group">
				<input type="text" class="form-control">
			</div>
		</div>
	</div>
</div> -->

<div class="navbar navbar-app navbar-absolute-bottom">
	<div class="nav4">
		<div class="nav4-left">
			<a href="#">
				<img src="" width="40px" height="40px">
			</a>
		</div>
		<div class="nav4-menu">
		<div class="btn-group justified">
			<a href="#projects/<%= model._id %>/status
				" class="btn btn-navbar">
				<i class="fa fa-exclamation-circle fa-navbar"></i>
				动态
			</a>
			<a href="#projects/<%= model._id %>
				/contacts" class="btn btn-navbar">
				<i class="fa fa-github fa-navbar"></i>
				成员
			</a>
			<a href="#projects/<%= model._id %>
				/stats" class="btn btn-navbar">
				<i class="fa fa-home fa-navbar"></i>
				状况
			</a>
		</div>
		</div>
	</div>
</div>

<!-- <div class="navbar navbar-app navbar-absolute-bottom">
<div class="btn-group justified">
	<a href="#projects/<%= model._id %>
		" class="btn btn-navbar">
		<i class="fa fa-exclamation-circle fa-navbar"></i>
		动态
	</a>
	<a href="#projects/<%= model._id %>
		/contacts" class="btn btn-navbar">
		<i class="fa fa-github fa-navbar"></i>
		成员
	</a>
	<a href="#projects/<%= model._id %>
		/stats" class="btn btn-navbar">
		<i class="fa fa-home fa-navbar"></i>
		状况
	</a>
</div>
</div> -->

<div class="pull-right">
<button class="btn btn-default editor-toggle" href="#">
	发表&nbsp;
	<span class="caret"></span>
</button>
</div>
<span class="name">
<%= model.name %></span>
<div class="status-editor hidden">
<hr>
<form>
	<div class="row">
		<div class="col-lg-12">
			<textarea class="form-control" name="text" rows="3"></textarea>
			<br>
			<input type="submit" value="发送" class="btn btn-block btn-primary"/>
		</div>

	</div>
	<hr></form>
</div>
<ul class="status_list" style="margin-bottom:80px;"></ul>