<!-- <h1>注册</h1> -->
<form>
	<fieldset>
		<legend>姓名</legend>
		<label for="lastName">
			姓：
			<input type="text" name="lastName" />
		</label>
		<label for="firstName">
			名：
			<input type="text" name="firstName" />
		</label>
	</fieldset>
	
	<fieldset>
		<legend>邮件地址</legend>
		<label>
			邮件：
			<input type="text" name="email" />
		</label>
		<br>
		<label>
			邮件(再一次)：
			<input type="text" name="cemail" />
		</label>
	</fieldset>

	<fieldset>
		<legend>密码</legend>
		<label>
			密码：
			<input type="password" name="password" />
		</label>
		<br>
		<label>
			密码(再一次)：
			<input type="password" name="cpassword" />
		</label>
	</fieldset>
	<p>
		<input type="submit" value="现在注册" />
	</p>	

</form>