<style>

</style>
<div class="media">
	<div class="pull-left">
		<a href="#profile/<%= fromId %>">
			<img class="media-object" src="<%= avatar %>" width="64px;" height="64px;">
		</a>
	</div>
	<div class="media-body">
		<a href="#status/<%= fromId %>">
			<h4 class="media-heading"><%= username %></h4>
		</a>
		<% if(status.PicUrl){ %>
			<img src="<%= status.PicUrl %>">
		<% }else{ %>
			<p><%= status %></p>
		<% } %>
		<div class="statusControl">
		</div>
		<p><a class="level">重要度：<%= level %></a>&nbsp; <a class="good">顶</a>&nbsp;<a class="bad">砸</a>&nbsp;评分：<span><%= score %></span></p>
		<div class="levelControl"></div>
	</div>
	<div class="media-right">
	</div>
</div>
<hr>
