doctype html

html(lang="zh-CN")
	head
		//- include include/head
		title Social Network
		//- link(rel="stylesheet" href="/css/mobile-angular-ui-hover.css")
		//- link(rel="stylesheet" href="/css/mobile-angular-ui-base.css")
		//- link(rel="stylesheet" href="/css/mobile-angular-ui-desktop.css")
		//- link(rel="stylesheet" href="/css/bootstrap-theme.css")
		link(rel="stylesheet" href="/css/app.css")
		script(data-main='js/boot', type='text/javascript', src="/js/libs/require.js")
	body.has-navbar-top.has-navbar-bottom.has-sidebar-left.sidebar-left-visible.sidebar-left-in.has-sidebar-right.sidebar-left-visible.sidebar-right-in
		.sidebar.sidebar-left
			.scrollable(style="padding-top:70px;")
				.scrollable-header.app-name 我的社交网
				.scrollable-content
					.list-group
						a.list-group-item.active(href="#index") 通讯录
							i.fa.fa-chevron-right.pull-right
						a.list-group-item(href="#") 我的第一个项目
							i.fa.fa-chevron-right.pull-right
		.sidebar.sidebar-right
			.scrollable(style="padding-top:70px;")
				.scrollable-header.app-name 我的好友
				.scrollable-content
					#chat.list-group
						//- a.list-group-item.media(href="#")
							.pull-left
								i.fa.fa-user.chat-user-avatar
							.media-body
								h5.media-heading 用户名
								small
									span.label.label-default
										i 离线
		.app
			.navbar.navbar-app.navbar-absolute-top
				.navbar-brand.navbar-brand-center 通讯录
				.btn.btn-group.pull-left.hidden
					i.fa.fa-bars 菜单
				.btn.btn-group.pull-right
					i.fa.fa-comments 聊天
			.navbar.navbar-app.navbar-absolute-bottom
				.btn-group.justified
					a.btn.btn-navbar(href="#")
						i.fa.fa-home.fa-navbar 文档
					a.btn.btn-navbar(href="#")
						i.fa.fa-home.fa-navbar 文档
					a.btn.btn-navbar(href="#")
						i.fa.fa-home.fa-navbar 文档
			.app-body
				.app-content-loading.hidden
					i.fa.fa-spinner.fa-spin.loading-spinner
				.app-content
					.scrollable
						#content.scrollable-content.section
							
		//- div#chat
		//- .modal
