doctype html

html(lang="zh-CN")
	head
		//- include include/head
		title 电子商务Demo
		link(rel="stylesheet" href="/css/demo.css")
		script(data-main='js/boot', type='text/javascript', src="/js/libs/require.js")
	body
		//-header
		//- include include/header
		div#chat
		div#content
		//-footer
		//- include include/footer