doctype html

html(lang="zh-CN")
	head
		//- include include/head
		title 电子商务Demo
		link(rel="stylesheet" href="/css/demo.css")
		script(data-main='js/boot', type='text/javascript', src="/js/libs/require.js")
	body
		//-header
		//- include include/header
		a(href="#index") 首页
		span &nbsp;|&nbsp;
		a(href="#order") 我的订单
		span &nbsp;|&nbsp;
		a(href="#cart") 我的购物车
		span &nbsp;|&nbsp;
		a(href="#account") 我的账户
		span &nbsp;|&nbsp;
		a(href="#admin/index") 后台首页
		hr
		div#category
		div#content
		//-footer
		//- include include/footer